# 表示该文件目录为根目录，lombok将从该目录下开始搜索。
# 每个子目录都可以配置lombok.config 作用范围只在该目录下，并且覆盖父目录的配置
config.stopBubbling = true

# 去掉警告: Generating equals/hashCode implementation but without a call to superclass,
# even though this class does not extend java.lang.Object. If this is intentional,
# add '@EqualsAndHashCode(callSuper=false)' to your type.
lombok.equalsAndHashCode.callSuper = call